DB_HOST=YourDbHost
DB_PORT=YourDbPort
DB_USERNAME=YourDbUsername
DB_PASSWORD=YourDbPassword
DB_NAME=YourDbName
API_KEY=YourApiKey
API_SECRET=YourApiSecret
GOOGLE_CLIENT_ID=OurGoogleClientId
GOOGLE_CLIENT_SECRET=OurGoogleClientSecret
GOOGLE_CALLBACK_URL=http://localhost:8000/auth/google/callback
JWT_SECRET=YourJwtSecret
