DB_HOST=YourDbHost
DB_PORT=YourDbPort
DB_USERNAME=YourDbUsername
DB_PASSWORD=YourDbPassword
DB_NAME=YourDbName
API_KEY=YourApiKey
API_SECRET=YourApiSecret
GOOGLE_CLIENT_ID=OurGoogleClientId
GOOGLE_CLIENT_SECRET=OurGoogleClientSecret
GOOGLE_CALLBACK_URL=http://localhost:8000/auth/google/callback
JWT_SECRET=YourJwtSecret

# Cloudinary
CLOUDINARY_CLOUD_NAME=dmwy7wbh7
CLOUDINARY_API_KEY=192775589667818
CLOUDINARY_API_SECRET=y_XpLvraoajD1VS1_HHO7ZMO51s

Para el DB_HOST, DB_PASSWORD ambos estan en discord, para el DB_PORT es 5432, 
para el DB_USERNAME es postgres, para el DB_NAME es postgres

Las credenciales de Google tambien estan en el discord

todo en la seccin de notas-recursos

El nombre del archivo debe ser .development.env
