# ==========================================
# 1. BASE DE DATOS
# ==========================================
DB_HOST=YourDbHost
DB_PORT=5432
DB_USERNAME=YourDbUsername
DB_PASSWORD=YourDbPassword
DB_NAME=postgres

# ==========================================
# 2. AUTENTICACIÓN Y URLS
# ==========================================
FRONTEND_URL=http://localhost:3000
BACKEND_URL=https://YourNgrokTunnelUrl.ngrok-free.dev
JWT_SECRET=YourJwtSecret

# Configuración de Google Auth
GOOGLE_CLIENT_ID=YourGoogleClientId
GOOGLE_CLIENT_SECRET=YourGoogleClientSecret
GOOGLE_CALLBACK_URL=http://localhost:8000/auth/google/callback

# ==========================================
# 3. PASARELA DE PAGOS (Mercado Pago)
# ==========================================
MP_ACCESS_TOKEN=YourAccessToken
MP_WEBHOOK_SECRET=YourWebhookSecret

# ==========================================
# 4. ENVÍO DE CORREOS (Brevo o Gmail)
# ==========================================
MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USER=YourBrevoUser
MAIL_PASSWORD=YourBrevoPassword

# ==========================================
# 5. ALMACENAMIENTO (Cloudinary)
# ==========================================
CLOUDINARY_CLOUD_NAME=YourCloudinaryCloudName
CLOUDINARY_API_KEY=YourCloudinaryApiKey
CLOUDINARY_API_SECRET=YourCloudinaryApiSecret

# ==========================================
# 6. LLAVES ANTIGUAS / GENÉRICAS
# ==========================================
API_KEY=YourApiKey
API_SECRET=YourApiSecret














