<h1>Recuperar contraseña</h1>

<p>
  Haz click en el siguiente enlace para cambiar tu contraseña:
</p>

<a href="{{resetLink}}">
  Restablecer contraseña
</a>

<p>
  Si no solicitaste este cambio, ignora este email.
</p>

