<div style="margin:0; padding:0; background-color:#0d0d0d; font-family:Arial, Helvetica, sans-serif; width:100%;">

  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="padding:40px 0; background-color:#0d0d0d;">
    <tr>
      <td align="center">

        <table
          width="650"
          cellpadding="0"
          cellspacing="0"
          border="0"
          style="
            background-color:#111111;
            border-radius:18px;
            overflow:hidden;
            border:1px solid #2a2a2a;
          "
        >

          <tr>
            <td style="padding:50px 45px;">

              <h1 style="
                color:#ffffff;
                font-size:32px;
                margin:0 0 25px 0;
                font-weight:700;
              ">
                Reunión agendada
              </h1>

              <p style="
                color:#d6d6d6;
                font-size:17px;
                line-height:30px;
                margin-bottom:25px;
              ">
                Hola <span style="color:#d4a64f; font-weight:bold;">{{companyName}}</span>.
              </p>

              <p style="
                color:#bcbcbc;
                font-size:16px;
                line-height:30px;
                margin-bottom:25px;
              ">
                Tu reunión fue agendada correctamente. Nuestro equipo estará preparado para brindarte una asesoría personalizada y detallada.
              </p>

              <p style="
                color:#bcbcbc;
                font-size:16px;
                line-height:30px;
                margin-bottom:25px;
              ">
                Podrás unirte desde el siguiente enlace: <strong><a href="{{meetingLink}}">{{meetingLink}}</a></strong>
              </p>

              <div style="
                background-color:#181818;
                border-left:4px solid #d4a64f;
                padding:22px;
                border-radius:10px;
                margin:35px 0;
              ">
                <p style="
                  margin:0;
                  color:#ffffff;
                  font-size:16px;
                  line-height:28px;
                ">
                  Fecha programada: <strong>{{meetingDate}}</strong>
                </p>
              </div>

              <p style="
                color:#9f9f9f;
                font-size:15px;
                line-height:28px;
              ">
                Gracias por confiar en ViaCore.
              </p>

            </td>
          </tr>

          <tr>
            <td>
              <img
                src="https://res.cloudinary.com/dmwy7wbh7/image/upload/q_auto/f_auto/v1778841139/Email.Via3_qnmftt.png"
                alt="ViaCore"
                width="650"
                style="display:block; width:100%; max-width:650px;"
              />
            </td>
          </tr>

        </table>

      </td>
    </tr>
  </table>

</div>